<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="cartMapper">
	<resultMap id="cartResultSet" type="cart">
		<!-- CART 테이블 매핑 -->
        <id column="CART_NO" property="cartNo" />
        <result column="QUANTITY" property="quantity" />
        <result column="CART_PRICE" property="price" />
        <result column="ADDED_AT" property="addedAt" />
        <result column="MEMBER_NO" property="memberNo" />
        <result column="GOODS_NO" property="goodsNo" />

        <!-- GOODS 테이블 매핑 -->
	    <association property="goods" javaType="goods">
	        <id column="GOODS_NO" property="goodsNo" />
	        <result column="CATEGORY" property="category" />
	        <result column="GOODS_NAME" property="goodsName" />
	        <result column="GOODS_CONTENT" property="goodsContent" />
	        <result column="MARK" property="mark" />
	        <result column="GOODS_PRICE" property="price" />
	        <result column="VIEWS" property="views" />
	        <result column="ENROLL_DATE" property="enrollDate" />
	        <result column="TOTAL_STOCK" property="totalStock" />
	        <result column="REMAIN_STOCK" property="remainStock" />
	        <result column="STATUS" property="status" />
	    </association>
	</resultMap>
	
	<!-- 장바구니 목록 조회용 쿼리문 -->
	<select id="selectList" parameterType="int" resultMap="cartResultSet">
		SELECT M.MEMBER_NO
		     , C.CART_NO
		     , C.QUANTITY
		     , C.PRICE AS CART_PRICE
		     , C.ADDED_AT
		     , G.GOODS_NO
		     , G.CATEGORY
		     , G.GOODS_NAME
		     , G.GOODS_THUMBNAIL
		     , G.GOODS_INFO
		     , G.PRICE AS GOODS_PRICE
		  FROM CART C
		  JOIN MEMBER M ON C.MEMBER_NO = M.MEMBER_NO
		  JOIN GOODS G ON C.GOODS_NO = G.GOODS_NO
		 WHERE M.MEMBER_NO = #{memberNo}
	</select>

	<!-- 장바구니 삭제용 쿼리문 -->
	<delete id="deleteCart"
			parameterType="_int">
		DELETE
		  FROM CART
		 <!-- WHERE CART_NO #{cartNo} -->
		 WHERE CART_NO IN (${cartNo})
	</delete>


















</mapper>




	
	
	
	
	
	
	
	