<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="goodsMapper">
	<resultMap type="goods" id="goodsResultSet">
		<id column="GOODS_NO" property="goodsNo" />
 		<result column="CATEGORY" property="category" />
 		<result column="GOODS_NAME" property="goodsName" />
 		<result column="GOODS_THUMBNAIL" property="goodsThumbnail" />
 		<result column="GOODS_CONTENT" property="goodsContent" />
 		<result column="GOODS_INFO" property="goodsInfo" />
 		<result column="MARK" property="mark" />
 		<result column="PRICE" property="price" />
 		<result column="DISCOUNT" property="discount" />
 		<result column="VIEWS" property="views" />
 		<result column="ENROLL_DATE" property="enrollDate" />
 		<result column="TOTAL_STOCK" property="totalStock" />
 		<result column="REMAIN_STOCK" property="remainStock" />
 		<result column="STATUS" property="status" />
	</resultMap>
	
	<!-- 
		작성일 : 2024.12.12
		작성자 : 박진홍
		상품 등록 요청 쿼리문
	-->
	<insert id="insertGoods" parameterType="goods">
 		INSERT INTO GOODS(GOODS_NO
                 , CATEGORY
                 , GOODS_NAME
                 , GOODS_THUMBNAIL
                 , GOODS_CONTENT
                 , GOODS_INFO
                 , MARK
                 , PRICE
                 , TOTAL_STOCK
                 , REMAIN_STOCK)
            VALUES(GOODS_SEQ.NEXTVAL
                 , #{category}
                 , #{goodsName}
                 , #{goodsThumbnail}
                 , #{goodsContent}
                 , #{goodsInfo}
                 , #{mark}
                 , #{price}
                 , #{totalStock}
                 , #{totalStock})
 	</insert>
 	
 	<select id="selectListCount" resultType="_int">
 		SELECT COUNT(*)
		  FROM GOODS
		 WHERE STATUS = 'Y'
 	</select>
 	
 	<!-- 전체 리스트 조회 -->
 	<select id="selectGoodsList" resultMap="goodsResultSet">
 		SELECT *
		  FROM( SELECT ROWNUM GOODSLIST, G.*
		          FROM( SELECT *
		                  FROM GOODS
		                 WHERE STATUS = 'Y'
		              ORDER BY GOODS_NO DESC) G
		      )
		 WHERE GOODSLIST BETWEEN #{start} AND #{end}
 	</select>
 	
 	<!-- 검색조건에 따른 상품 검색 -->
 	<select id="searchingGoods" parameterType="search" resultMap="goodsResultSet">
 		SELECT *
		  FROM( SELECT ROWNUM GOODSLIST, G.*
		          FROM( SELECT *
		                  FROM GOODS
		                 WHERE STATUS = 'Y'
		                 <choose>
		                 	<when test="searchCategory != '상품분류선택'">
		                 		AND (
		                 				<choose>
		                 					<when test="searchCategory == '캠핑용품대여'">
		                 						CATEGORY = '쉘터/텐트'
			                            		OR CATEGORY = '침낭/방한용품'
			                            		OR CATEGORY = '의자/테이블'
			                            		OR CATEGORY = '화로/버너/전자'
			                            		OR CATEGORY = '식기/아이스박스'
		                 					</when>
		                 					<when test="searchCategory == '소비용품판매'">
		                 						CATEGORY = '연료/가스'
			                            		OR CATEGORY = '식자재'
			                            		OR CATEGORY = '생활용품'
		                 					</when>
			                   				<when test="searchCategory == '쉘터텐트'">
			                   					CATEGORY = '쉘터/텐트'
			                   				</when>
			                   				<when test="searchCategory == '침낭방한용품'">
			                   					CATEGORY = '침낭/방한용품'
			                   				</when>
			                   				<when test="searchCategory == '의자테이블'">
			                   					CATEGORY = '의자/테이블'
			                   				</when>
			                   				<when test="searchCategory == '화로버너전자'">
			                   					CATEGORY = '화로/버너/전자'
			                   				</when>
			                   				<when test="searchCategory == '식기아이스박스'">
			                   					CATEGORY = '식기/아이스박스'
			                   				</when>
			                   				<when test="searchCategory == '연료가스'">
			                   					CATEGORY = '연료/가스'
			                   				</when>
			                   				<when test="searchCategory == '식자재'">
			                   					CATEGORY = '식자재'
			                   				</when>
			                   				<when test="searchCategory == '생활용품'">
			                   					CATEGORY = '생활용품'
			                   				</when>
			                   				<otherwise>
			                   				</otherwise>
			                   			</choose>
		                 		)
		                 	</when>
		                 	<otherwise></otherwise>
		                 </choose>
		                 <choose>
		                 	<when test="condition != '검색조건선택' and searchKeyword != ''">
		                 		AND (
		                 			<choose>
		                 				<when test="condition == '상품이름'">
		                 					GOODS_NAME LIKE '%' || #{searchKeyword} || '%'
		                 				</when>
		                 				<otherwise>
		                 					MARK LIKE '%' || #{searchKeyword} || '%'
		                 				</otherwise>
		                 			</choose>
		                 		)
		                 	</when>
		                 	<otherwise>
		                 	</otherwise>
		                 </choose>
		          	<choose>
		          		<when test="sort == '상품명순'">
		          			ORDER BY GOODS_NAME) G
		          		</when>
		          		<when test="sort == '낮은가격순'">
		          			ORDER BY PRICE) G
		          		</when>
		          		<when test="sort == '높은가격순'">
		          			ORDER BY PRICE DESC) G
		          		</when>
		          		<when test="sort == '조회수순'">
		          			ORDER BY VIEWS DESC) G
		          		</when>
		          		<otherwise>
		          			ORDER BY GOODS_NO DESC) G
		          		</otherwise>
		          	</choose>
		      )
		 WHERE GOODSLIST BETWEEN #{start} AND #{end}
 	</select>
 	
 	<update id="selectViewCount">
 		UPDATE GOODS
		   SET VIEWS = VIEWS+1
		 WHERE GOODS_NO = #{goodsNo}
		   AND STATUS = 'Y'
 	</update>
 	
 	<select id="selectOneGoods" resultMap="goodsResultSet">
 		SELECT *
		  FROM GOODS
		 WHERE GOODS_NO = #{goodsNo}
		   AND STATUS = 'Y'
 	</select>
 	
 	<!-- 관리자 페이지 전체 리스트 개수 -->
 	<select id="ajaxSelectListCount" resultType="_int">
 		SELECT COUNT(*)
		  FROM GOODS
 	</select>
 	<!-- 관리자 페이지 전체 리스트 조회 -->
 	<select id="ajaxGoodsSelect" resultMap="goodsResultSet">
 		SELECT GOODS_NO, CATEGORY, GOODS_NAME, GOODS_THUMBNAIL, MARK, PRICE, DISCOUNT, ENROLL_DATE, TOTAL_STOCK, REMAIN_STOCK, STATUS
		  FROM( SELECT ROWNUM GOODSLIST, G.*
		          FROM( SELECT *
		                  FROM GOODS
		              ORDER BY GOODS_NO DESC) G
		      )
		 WHERE GOODSLIST BETWEEN #{start} AND #{end}
 	</select>
 	
 	<!-- 관리자 페이지 용 전체 수 조회 -->
 	<select id="totalCount" resultType="_int">
 		SELECT COUNT(*)
		  FROM GOODS
 	</select>
 	
 	<select id="onSaleCount" resultType="_int">
 		SELECT COUNT(*)
		  FROM GOODS
		 WHERE STATUS = 'Y'
		   AND REMAIN_STOCK > 0
 	</select>
 	
 	<select id="offSaleCount" resultType="_int">
 		SELECT COUNT(*)
		  FROM GOODS
		 WHERE STATUS = 'Y'
		   AND REMAIN_STOCK = 0
 	</select>
 	
 	<select id="hideCount" resultType="_int">
 		SELECT COUNT(*)
		  FROM GOODS
		 WHERE STATUS = 'N'
 	</select>
</mapper>
