<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
 	
 	<resultMap id="memberResultSet" type="member">
 		<id column="MEMBER_NO" property="memberNo" />
 		<result column="MEMBER_ID" property="memberId" />
 		<result column="MEMBER_PWD" property="memberPwd" />
 		<result column="MEMBER_NAME" property="memberName" />
 		<result column="BIRTH_DATE" property="birthDate" />
 		<result column="PHONE" property="phone" />
 		<result column="EMAIL" property="email" />
 		<result column="SIGNUP_DATE" property="signupDate" />
 		<result column="ADDRESS" property="address" />
 		<result column="STATUS" property="status" />
 	</resultMap>
 	
 	<resultMap id="identificationResultSet" type="identification">
 		<result column="EMAIL" property="email" />
 		<result column="AUTH_CODE" property="authCode" />
 		<result column="AUTH_CODE_DATE" property="authCodeDate" />
 	</resultMap>
 	
 	<!--
 		24.12.06 정성민
 		로그인 요청 처리용 쿼리문
 	-->
 	<select id="loginMember" parameterType="member" resultMap="memberResultSet">
 		SELECT *
		  FROM MEMBER
		 WHERE MEMBER_ID = #{memberId}
		   AND STATUS = 'Y'
 	</select>
 	
 	<!--
 		24.12.06 정성민
 		회원가입 요청 처리용 쿼리문
 	-->
 	<insert id="insertMember" parameterType="member">
 		INSERT INTO MEMBER(MEMBER_NO
                 , MEMBER_ID
                 , MEMBER_PWD
                 , MEMBER_NAME
                 , BIRTH_DATE
                 , PHONE
                 , EMAIL
                 , ADDRESS)
            VALUES(MEMBER_SEQ.NEXTVAL
                 , #{memberId}
                 , #{memberPwd}
                 , #{memberName}
                 , #{birthDate}
                 , #{phone}
                 , #{email}
                 , #{address})
 	</insert>
 	
	<!-- 
		24.12.11 정성민
		아이디 중복체크용 쿼리문
	-->
 	<select id="idCheck" parameterType="string" resultType="_int">
 		SELECT COUNT(*)
		  FROM MEMBER
		 WHERE MEMBER_ID = #{checkId}
 	</select>
 	
 	<!--  
 		24.12.23 정성민
 		이메일 중복체크용 쿼리문
 	-->
 	<select id="emailCheck" parameterType="String" resultType="_int">
 		SELECT COUNT(*)
 		  FROM MEMBER
 		 WHERE EMAIL = #{checkEmail}
 	</select>
 	
 	<!-- 
 		24.12.11 정성민
 		인증번호 insert 용 쿼리문
 	-->
 	<insert id="insertCertNo" parameterType="identification">
 		INSERT INTO IDENTIFICATION(EMAIL
		                         , AUTH_CODE
		                         , AUTH_CODE_DATE)
		                    VALUES(#{email}
		                         , #{authCode}
		                         , SYSDATE)
 	</insert>
 	
 	<!-- 
 		24.12.11 정성민
 		인증번호 select 용 쿼리문
 	-->
 	
 	<select id="validateCertNo" parameterType="identification" resultMap="identificationResultSet">
 		SELECT AUTH_CODE
		  FROM IDENTIFICATION
		 WHERE EMAIL = #{email}
		   AND AUTH_CODE = #{authCode}
		   AND AUTH_CODE_DATE > SYSDATE - (3 / 1440)
 		
 	</select>
 	
 	<!-- 
 		24.12.11 정성민
 		인증번호 delete 용 쿼리문
 	-->
 	<delete id="deleteCertNo" parameterType="string">
 		DELETE
		  FROM IDENTIFICATION
		 WHERE EMAIL = #{email}
 	</delete>
 	
 	<!--  
 		24.12.12 정성민
 		아이디 찾기 select 용 쿼리문
 	-->
 	<select id="selectId" parameterType="member" resultType="string">
 		SELECT MEMBER_ID
		  FROM MEMBER
		 WHERE MEMBER_NAME = #{memberName}
		   AND EMAIL = #{email}
		   AND STATUS = 'Y'
 	</select>
 	
 	<!--  
 		24.12.12 정성민
 		비밀번호 찾기 입력 select 용 쿼리문
 	-->
 	<select id="selectPwdMember" parameterType="member" resultMap="memberResultSet">
 		SELECT *
		  FROM MEMBER
		 WHERE MEMBER_NAME = #{memberName}
		   AND MEMBER_ID = #{memberId}
		   AND EMAIL = #{email}
		   AND STATUS = 'Y'
 	</select>
 	
 	<!-- 
 		24.12.12 정성민 
 		비밀번호 변경 update 용 쿼리문
 	-->
 	<update id="updatePwd" parameterType="member">
 		UPDATE MEMBER
		   SET MEMBER_PWD = #{memberPwd}
		 WHERE MEMBER_NAME = #{memberName}
		   AND MEMBER_ID = #{memberId}
		   AND EMAIL = #{email}
		   AND STATUS = 'Y'
 	</update>
 	
 	<!--  
 		24.12.13 정성민
 		회원탈퇴 update 용 쿼리문
 	-->
 	<update id="deleteMember" parameterType="string">
 		UPDATE MEMBER
		   SET STATUS = 'N'
		 WHERE MEMBER_ID = #{memberId}
		   AND STATUS = 'Y'
 	</update>
 	
 	

 	<!-- 
 		회원정보 수정용 쿼리문
 		24.12.10 13시 윤홍문
 	 -->
 	<update id="updateMember" parameterType="member">
		UPDATE MEMBER
		   SET BIRTH_DATE = #{birthDate}
		     , PHONE = #{phone}
		     , ADDRESS = #{address}
		 WHERE MEMBER_NO = #{memberNo}
		   AND STATUS = 'Y'
	</update>
	
	<!--  
		24.12.24 정성민
		관리자 페이지 회원 수 조회용
	-->
	<select id="ajaxSelectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM MEMBER
		  <choose>
	        <when test="state == '탈퇴한 회원'">
		 		WHERE STATUS = 'N'
		 	</when>
		 	<when test="state == '활동 회원'">
		 		WHERE STATUS = 'Y'
		 	</when>
		 	<otherwise></otherwise>
		 </choose>
	</select>

	<!--  
		24.12.24 정성민
		관리자 페이지 회원 목록 조회용
	-->
	<select id="ajaxMemberSelect" resultMap="memberResultSet">
		SELECT * 
		  FROM MEMBER
		  <choose>
	        <when test="state == '탈퇴한 회원'">
		 		WHERE STATUS = 'N'
		 	</when>
		 	<when test="state == '활동 회원'">
		 		WHERE STATUS = 'Y'
		 	</when>
		 	<otherwise></otherwise>
		 </choose>
		ORDER BY MEMBER_NO DESC
	</select>

  
</mapper>
