<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">
  
	<resultMap id="orderResultSet" type="order">
	    <id column="ORDER_NO" property="orderNo" />
	    <result column="PAYMENT_ID" property="paymentId" />
	    <result column="TOTAL_PRICE" property="totalPrice" />
	    <result column="CREATED_DATE" property="createdDate" />
	    <result column="PAYMENT_METHOD" property="paymentMethod" />
	    <result column="PAYMENT_STATUS" property="paymentStatus" />
	    <result column="UPDATED_DATE" property="updatedDate" />
	    <result column="MEMBER_NO" property="memberNo" />
	</resultMap>
	 
 	<resultMap id="orderDetailResultSet" type="orderDetail">
	    <id column="ORDER_DETAIL_NO" property="orderDetailNo" />
	    <result column="QUANTITY" property="quantity" />
	    <result column="PRICE" property="price" />
	    <result column="TOTAL_PRICE" property="totalPrice" />
	    <result column="GOODS_NO" property="goodsNo" />
	    <result column="ORDER_NO" property="orderNo" />
	</resultMap>
	
	<!-- order INSERT -->
 	<insert id="insertOrderAndReturnOrderNo" 
 			parameterType="order"
 			useGeneratedKeys="true" 
 			keyProperty="orderNo">
 		INSERT INTO GOODS_ORDER(ORDER_NO
			                  , PAYMENT_ID
			                  , TOTAL_PRICE
			                  , CREATED_DATE
			                  , PAYMENT_METHOD
			                  , PAYMENT_STATUS
			                  , UPDATED_DATE
			                  , MEMBER_NO) 
			            VALUES (ORDER_SEQ.NEXTVAL
			                  , NULL
			                  , #{totalPrice}
			                  , SYSDATE
			                  , 'CARD'
			                  , 'CREATED'
			                  , NULL
			                  , #{memberNo})
 	</insert>
  
	<!-- 주문 저장 -->
    <insert id="saveOrder" parameterType="Order">
        INSERT INTO ORDERS (ORDER_NO, PAYMENT_ID, TOTAL_PRICE, CREATED_DATE, PAYMENT_STATUS, MEMBER_NO)
        VALUES (SEQ_ORDERS.NEXTVAL, #{paymentId}, #{totalPrice}, SYSDATE, #{paymentStatus}, #{memberNo})
    </insert>

    <!-- 주문 상세 저장 -->
    <insert id="saveOrderDetail" parameterType="OrderDetail">
        INSERT INTO ORDER_DETAIL (ORDER_DETAIL_NO, QUANTITY, PRICE, TOTAL_PRICE, GOODS_NO, ORDER_NO)
        VALUES (SEQ_ORDER_DETAIL.NEXTVAL, #{quantity}, #{price}, #{totalPrice}, #{goodsNo}, #{orderNo})
    </insert>

    <!-- 주문 조회 -->
    <select id="findOrderById" parameterType="int" resultType="Order">
        SELECT * FROM ORDERS WHERE ORDER_NO = #{orderNo}
    </select>

    <!-- 주문 상태 업데이트 -->
    <update id="updateOrderStatus" parameterType="Order">
        UPDATE ORDERS
        SET PAYMENT_STATUS = #{paymentStatus}, PAYMENT_ID = #{paymentId}, UPDATED_DATE = SYSDATE
        WHERE ORDER_NO = #{orderNo}
    </update>
  
  
  
  
  
  
  
  
  
  
  
  
  
</mapper>
