<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">
  
	<resultMap id="orderResultSet" type="order">
	    <id column="ORDER_NO" property="orderNo" />
	    <result column="PAYMENT_ID" property="paymentId" />
	    <result column="TOTAL_PRICE" property="totalPrice" />
	    <result column="CREATED_DATE" property="createdDate" />
	    <result column="PAYMENT_METHOD" property="paymentMethod" />
	    <result column="PAYMENT_STATUS" property="paymentStatus" />
	    <result column="UPDATED_DATE" property="updatedDate" />
	    <result column="MEMBER_NO" property="memberNo" />
	</resultMap>
	 
 	<resultMap id="orderDetailResultSet" type="orderDetail">
	    <id column="ORDER_DETAIL_NO" property="orderDetailNo" />
	    <result column="QUANTITY" property="quantity" />
	    <result column="PRICE" property="price" />
	    <result column="TOTAL_PRICE" property="totalPrice" />
	    <result column="GOODS_NO" property="goodsNo" />
	    <result column="ORDER_NO" property="orderNo" />
	</resultMap>
	
	<!-- 주문정보 생성용 쿼리문 -->
 	<insert id="insertOrder" 
 			parameterType="order">
 		INSERT INTO GOODS_ORDER(ORDER_NO
			                  , PAYMENT_ID
			                  , TOTAL_PRICE
			                  , CREATED_DATE
			                  , PAYMENT_METHOD
			                  , PAYMENT_STATUS
			                  , UPDATED_DATE
			                  , MEMBER_NO) 
			            VALUES (ORDER_SEQ.NEXTVAL
			                  , NULL
			                  , #{totalPrice}
			                  , SYSDATE
			                  , NULL
			                  , 'CREATED'
			                  , NULL
			                  , #{memberNo})
 	</insert>
 	
 	<select id="selectGeneratedOrderNo" 
 			resultType="_int">
 		SELECT ORDER_SEQ.CURRVAL FROM DUAL
 	</select>
  
	
  
  
  
  
  
  
  
  
  
  
  
  
  
</mapper>
