<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">
  
	<resultMap id="orderResultSet" type="order">
	    <id column="ORDER_NO" property="orderNo" />
	    <result column="PAYMENT_ID" property="paymentId" />
	    <result column="TOTAL_PRICE" property="totalPrice" />
	    <result column="CREATED_DATE" property="createdDate" />
	    <result column="PAYMENT_METHOD" property="paymentMethod" />
	    <result column="PAYMENT_STATUS" property="paymentStatus" />
	    <result column="UPDATED_DATE" property="updatedDate" />
	    <result column="MEMBER_NO" property="memberNo" />
	    
	    <result column="GOODS_THUMBNAIL" property="goodsThumbnail" />
	    
	    <!-- OrderDetail 컬렉션 -->
	    <collection property="orderDetail" ofType="orderDetail">
	        <id column="ORDER_DETAIL_NO" property="orderDetailNo" />
	        <result column="QUANTITY" property="quantity" />
	        <result column="PRICE" property="price" />
	        <result column="TOTAL_PRICE" property="totalPrice" />
	        <result column="GOODS_NO" property="goodsNo" />
	        <result column="ORDER_NO" property="orderNo" />
	        
	        <!-- association GOODS 테이블 매핑 -->
		    <association property="goods" javaType="goods">
		        <id column="GOODS_NO" property="goodsNo" />
		        <result column="CATEGORY" property="category" />
		        <result column="GOODS_NAME" property="goodsName" />
		        <!-- <result column="GOODS_THUMBNAIL" property="goodsThumbnail" /> -->
		        <result column="GOODS_CONTENT" property="goodsContent" />
		        <result column="GOODS_INFO" property="goodsInfo" />
		        <result column="MARK" property="mark" />
		        <result column="GOODS_PRICE" property="price" />
		        <result column="VIEWS" property="views" />
		        <result column="ENROLL_DATE" property="enrollDate" />
		        <result column="TOTAL_STOCK" property="totalStock" />
		        <result column="REMAIN_STOCK" property="remainStock" />
		        <result column="STATUS" property="status" />
		    </association>
	        
	    </collection>
	    
	</resultMap>
	 
	 
 	<resultMap id="orderDetailResultSet" type="orderDetail">
	    <id column="ORDER_DETAIL_NO" property="orderDetailNo" />
	    <result column="QUANTITY" property="quantity" />
	    <result column="PRICE" property="price" />
	    <result column="TOTAL_PRICE" property="totalPrice" />
	    <result column="GOODS_NO" property="goodsNo" />
	    <result column="ORDER_NO" property="orderNo" />
	    
	    <!-- GOODS 테이블 매핑 -->
	    <association property="goods" javaType="goods">
	        <id column="GOODS_NO" property="goodsNo" />
	        <result column="CATEGORY" property="category" />
	        <result column="GOODS_NAME" property="goodsName" />
	        <result column="GOODS_THUMBNAIL" property="goodsThumbnail" />
	        <result column="GOODS_CONTENT" property="goodsContent" />
	        <result column="GOODS_INFO" property="goodsInfo" />
	        <result column="MARK" property="mark" />
	        <result column="GOODS_PRICE" property="price" />
	        <result column="VIEWS" property="views" />
	        <result column="ENROLL_DATE" property="enrollDate" />
	        <result column="TOTAL_STOCK" property="totalStock" />
	        <result column="REMAIN_STOCK" property="remainStock" />
	        <result column="STATUS" property="status" />
	    </association>
	</resultMap>
	
	<!-- 
	<resultMap id="orderListResultMap" type="order">
	    <id column="ORDER_NO" property="orderNo" />
	    <result column="PAYMENT_ID" property="paymentId" />
	    <result column="TOTAL_PRICE" property="totalPrice" />
	    <result column="CREATED_DATE" property="createdDate" />
	    <result column="PAYMENT_METHOD" property="paymentMethod" />
	    <result column="PAYMENT_STATUS" property="paymentStatus" />
	    <result column="UPDATED_DATE" property="updatedDate" />
	    <result column="MEMBER_NO" property="memberNo" /> -->
	
	    <!-- 자식 컬렉션: OrderDetail  
	    <collection property="orderDetail" ofType="orderDetail">
	        <id column="ORDER_DETAIL_NO" property="orderDetailNo" />
	        <result column="QUANTITY" property="quantity" />
		    <result column="DETAIL_PRICE" property="detailPrice" />
		    <result column="DETAIL_TOTAL_PRICE" property="detailTotalPrice" />
		    <result column="GOODS_NO" property="goodsNo" />
		    <result column="ORDER_NO" property="orderNo" /> -->
	
	        <!-- 연관 객체: Goods 
	        <association property="goods" javaType="goods">
	            <id column="GOODS_NO" property="goodsNo" />
	            <result column="GOODS_NAME" property="goodsName" />
	            <result column="GOODS_THUMBNAIL" property="goodsThumbnail" />
		        <result column="GOODS_CONTENT" property="goodsContent" />
		        <result column="GOODS_INFO" property="goodsInfo" />
		        <result column="MARK" property="mark" />
		        <result column="GOODS_PRICE" property="price" />
		        <result column="VIEWS" property="views" />
		        <result column="ENROLL_DATE" property="enrollDate" />
		        <result column="TOTAL_STOCK" property="totalStock" />
		        <result column="REMAIN_STOCK" property="remainStock" />
		        <result column="STATUS" property="status" />
	        </association>
	    </collection>
	</resultMap>  -->
	
	
	<!-- 주문정보 생성용 order insert 쿼리문 -->
 	<insert id="insertOrder" 
 			parameterType="order">
 		INSERT INTO GOODS_ORDER(ORDER_NO
			                  , PAYMENT_ID
			                  , TOTAL_PRICE
			                  , CREATED_DATE
			                  , PAYMENT_METHOD
			                  , PAYMENT_STATUS
			                  , UPDATED_DATE
			                  , MEMBER_NO) 
			            VALUES (ORDER_SEQ.NEXTVAL
			                  , NULL
			                  , #{totalPrice}
			                  , SYSDATE
			                  , NULL
			                  , 'CREATED'
			                  , NULL
			                  , #{memberNo})
 	</insert>
 	
 	<!-- 채번한 orderNo 가져오기 -->
 	<select id="selectGeneratedOrderNo" 
 			resultType="_int">
 		SELECT ORDER_SEQ.CURRVAL FROM DUAL
 	</select>
 	
 	<!-- 주문정보 생성용 orderDetail insert 쿼리문 -->
 	<insert id="insertOrderDetail" 
 			parameterType="orderDetail">
 		INSERT INTO ORDER_DETAIL(ORDER_DETAIL_NO
		                       , QUANTITY
		                       , PRICE
		                       , TOTAL_PRICE
		                       , GOODS_NO
		                       , ORDER_NO)
		                  VALUES(ORD_DETAIL_SEQ.NEXTVAL
		                       , #{quantity}
		                       , (SELECT PRICE FROM GOODS WHERE GOODS_NO = #{goodsNo})
		                       , #{totalPrice}
		                       , #{goodsNo}
		                       , #{orderNo})
 	</insert>
  
  	<!-- 주문화면 및 결제하기 위한 order 정보 조회용 -->
	<select id="selectOrder" resultType="_int"
			resultMap="orderResultSet">
		SELECT *
		  FROM GOODS_ORDER
		 WHERE ORDER_NO = #{orderNo}
	</select>
  
  	<!-- 주문화면 및 결제하기 위한 order 정보 조회용 -->
	<select id="selectOrederDetailList" resultType="_int"
			resultMap="orderDetailResultSet">
		SELECT OD.*
		     , G.GOODS_NAME
		     <!-- , G.GOODS_INFO
		     , G.GOODS_THUMBNAIL  -->
		  FROM ORDER_DETAIL OD
		  JOIN GOODS G ON (OD.GOODS_NO = G.GOODS_NO)
		 WHERE ORDER_NO = #{orderNo}
	</select>
  
  	<!-- 결제 완료 후 결제 데이터 update 용 -->
	<update id="updateOrder"
			parameterType="order">
		UPDATE GOODS_ORDER
	       SET PAYMENT_ID = #{paymentId}
	         , PAYMENT_METHOD = #{paymentMethod}
	         , PAYMENT_STATUS = 'PAID'
	         , UPDATED_DATE = SYSDATE
	     WHERE ORDER_NO = #{orderNo}
	</update>
  
	
	
	<!-- 결제완료 후 결제내역 총 조회용 -->
	<select id="selectOrederListByMemberNo" resultType="_int"
			resultMap="orderResultSet">
		SELECT O.*
		     , OD.*
		     , G.GOODS_THUMBNAIL
		     , G.GOODS_NO
		     , G.GOODS_NAME
		  FROM GOODS_ORDER O
		  JOIN ORDER_DETAIL OD ON O.ORDER_NO = OD.ORDER_NO 
		  JOIN GOODS G ON OD.GOODS_NO = G.GOODS_NO
		 WHERE O.MEMBER_NO = 1
		   AND NOT PAYMENT_STATUS = 'CREATED'
		 ORDER BY O.ORDER_NO
	</select>
	
	<!-- 
	<select id="selectOrederListByMemberNo" resultType="_int"
			resultMap="orderListResultSet">
		SELECT 
		    o.ORDER_NO,
		    o.PAYMENT_ID,
		    o.PAYMENT_STATUS,
		    o.PAYMENT_METHOD,
		    o.TOTAL_PRICE,
		    od.ORDER_DETAIL_NO,
		    od.GOODS_NO AS DETAIL_GOODS_NO,
		    od.QUANTITY,
		    od.PRICE AS DETAIL_PRICE,
		    od.TOTAL_PRICE AS DETAIL_TOTAL_PRICE,
		    g.GOODS_NO,
		    g.GOODS_NAME,
		    g.GOODS_THUMBNAIL
		FROM 
		    ORDERS o
		LEFT JOIN 
		    ORDER_DETAIL od ON o.ORDER_NO = od.ORDER_NO
		LEFT JOIN 
		    GOODS g ON od.GOODS_NO = g.GOODS_NO
	</select> -->
	
	
	

  
  
  
  
  
  
  
</mapper>
