<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="reserveMapper">

	<resultMap id="reserveResultSet" type="reserve">
		<id column="RESERVE_NO" property="reserveNo" />
		<result column="START_DATE" property="startDate" />
		<result column="END_DATE" property="endDate" />
		<result column="NIGHTS" property="nights" />
		<result column="MEMBER_COUNT" property="memberCount" />		
		<result column="PAYMENT_ID" property="paymentId" />
		<result column="PRICE" property="price" />
		<result column="PAYMENT_DATE" property="paymentDate" />
		<result column="PAYMENT_METHOD" property="paymentMethod" />
		<result column="PAYMENT_STATUS" property="paymentStatus" />
		<result column="UPDATE_DATE" property="updateDate" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="CAMPSITE_ID" property="campsiteId" />
		<result column="SPOT_NO" property="spotNo" />
		<result column="SECTION" property="section" />
	</resultMap>
	
	<resultMap id="restSiteResultSet" type="restsite">
		<result column="SECTION" property="section" />
		<result column="REST_COUNT" property="restCount" />
	</resultMap>
	
	<resultMap id="campsiteResultSet" type="campsite">
		<id column="CAMPSITE_ID" property="campsiteId" />
		<result column="SPOT_NO" property="spotNo" />
		<result column="PRICE" property="price" />
		<result column="SECTION" property="section" />
	</resultMap>
	
	
	<!--  
		24.12.18 정성민
		섹션별 남은자리 갯수 조회용 쿼리문
	-->
	<select id="selectRestSiteCounts" parameterType="reserve" resultMap="restSiteResultSet">
		SELECT C.SECTION AS SECTION, COUNT(C.CAMPSITE_ID) AS REST_COUNT
		  FROM CAMPSITE C
		 WHERE C.CAMPSITE_ID NOT IN (
		          SELECT R.CAMPSITE_ID
		          FROM RESERVE R
		          WHERE 
		              TRUNC(R.START_DATE) &lt; TO_DATE(#{endDate}, 'YYYY-MM-DD') 
		              AND TRUNC(R.END_DATE) > TO_DATE(#{startDate}, 'YYYY-MM-DD') 
		              AND PAYMENT_STATUS = 'PAID'
		       )
		    
		 GROUP BY C.SECTION
		 ORDER BY C.SECTION
	</select>
	
	<!--  
		24.12.19 정성민
		남은자리 조회용 쿼리문
	-->
	<select id="selectRestSites" parameterType="reserve" resultMap="campsiteResultSet">
		SELECT CAMPSITE_ID, SPOT_NO, PRICE, SECTION
		  FROM CAMPSITE C
		 WHERE C. CAMPSITE_ID NOT IN (
		          SELECT R.CAMPSITE_ID
		            FROM RESERVE R
		           WHERE TRUNC(R.START_DATE) &lt; TO_DATE(#{endDate}, 'YYYY-MM-DD')
		             AND TRUNC(R.END_DATE) > TO_DATE(#{startDate}, 'YYYY-MM-DD')
		             AND PAYMENT_STATUS = 'PAID'
		       )   
		   AND C.SECTION = #{section}
		 ORDER BY C.SPOT_NO ASC
	</select>
	
	<!--  
		24.12.20 정성민
		예약 insert 용 쿼리문
	-->
	<insert id="insertReserve" parameterType="reserve">
		INSERT INTO RESERVE(RESERVE_NO, 
		                    START_DATE, 
		                    END_DATE, 
		                    NIGHTS, 
		                    MEMBER_COUNT,
		                    PAYMENT_ID, 
		                    PRICE, 
		                    PAYMENT_DATE,
		                    PAYMENT_METHOD, 
		                    PAYMENT_STATUS,
		                    MEMBER_NO, 
		                    CAMPSITE_ID)
		             VALUES(RESERVE_SEQ.NEXTVAL,
		                    #{startDate},
		                    #{endDate},
		                    #{nights},
		                    #{memberCount},
		                    #{paymentId},
		                    #{price},
		                    SYSDATE,
		                    #{paymentMethod},
		                    'PAID',
		                    #{memberNo},
		                    #{campsiteId})
	</insert>
	
	<!--  
		24.12.20 정성민
		결제후 예약번호 조회용 쿼리문
	-->
	<select id="selectReserveNo" resultType="_int">
		SELECT RESERVE_SEQ.CURRVAL FROM DUAL
	</select>
	
	<!--  
		24.12.20 정성민
		결제후 예약 상세조회용 쿼리문
	-->
	<select id="selectAfterReserve" parameterType="reserve" resultMap="reserveResultSet">
		SELECT R.RESERVE_NO, R.PAYMENT_DATE, R.START_DATE, R.END_DATE, R.PAYMENT_METHOD, R.PAYMENT_STATUS, R.PRICE, R.MEMBER_COUNT, R.NIGHTS, C.SPOT_NO, C.SECTION
		  FROM RESERVE R
		  JOIN CAMPSITE C ON (R.CAMPSITE_ID = C.CAMPSITE_ID)
		 WHERE RESERVE_NO = #{rNum}
		   AND R.PAYMENT_STATUS = 'PAID'
	</select>
	
	<!--  
		24.12.20 정성민
		예약내역 총 갯수 조회용 쿼리문
	-->
	<select id="selectListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*) 
		  FROM RESERVE
		 WHERE MEMBER_NO = #{memberNo}
		   AND PAYMENT_STATUS IN ('PAID', 'CANCELED', 'REFUNDED')
	</select>

	<!--  
		24.12.20 정성민
		예약내역 목록조회용 쿼리문
	-->
	<select id="selectList" parameterType="_int" resultMap="reserveResultSet">
		SELECT RESERVE_NO, PAYMENT_DATE, PRICE, PAYMENT_STATUS
		  FROM RESERVE
		 WHERE MEMBER_NO = #{memberNo}
		   AND PAYMENT_STATUS IN ('PAID', 'CANCELED', 'REFUNDED')
		 ORDER BY RESERVE_NO DESC
	</select>
	
	<!--  
		24.12.20 정성민
		예약내역 상세조회용 쿼리문
	-->
	
	<select id="selectReserve" parameterType="_int" resultMap="reserveResultSet">
		SELECT R.RESERVE_NO, R.PAYMENT_DATE, R.START_DATE, R.END_DATE, R.PAYMENT_METHOD, R.PAYMENT_STATUS, R.PRICE, R.MEMBER_COUNT, R.PAYMENT_ID, R.NIGHTS, C.SPOT_NO, C.SECTION
		  FROM RESERVE R
		  JOIN CAMPSITE C ON (R.CAMPSITE_ID = C.CAMPSITE_ID)
		 WHERE RESERVE_NO = #{rno}
	</select>
	
	<!--  
		24.12.22 정성민
		예약 취소요청 요청용 쿼리문
	-->
	<update id="deleteReserveRequest" parameterType="_int">
		UPDATE RESERVE
		   SET PAYMENT_STATUS = 'CANCELED'
		 WHERE RESERVE_NO = #{reserveNo}
		   AND PAYMENT_STATUS = 'PAID'
	</update>
	
	<!--  
		24.12.23 정성민
		자리 임시조회용 쿼리문
	-->
	<select id="selectTempReserve" parameterType="reserve" resultMap="reserveResultSet">
		SELECT COUNT(*)
		  FROM RESERVE
		 WHERE START_DATE = TO_DATE(#{startDate}, 'YYYY-MM-DD')
		   AND END_DATE = TO_DATE(#{endDate}, 'YYYY-MM-DD')
		   AND NIGHTS = #{nights}
		   AND CAMPSITE_ID = #{campsiteId}
		   AND PAYMENT_STATUS = 'PAID'
	</select>
	
	<!--  
		24.12.23 정성민
		임시 예약 insert 용 쿼리문
	-->
	<insert id="insertTempReserve" parameterType="reserve">
		INSERT INTO RESERVE(RESERVE_NO, 
		                    START_DATE, 
		                    END_DATE, 
		                    NIGHTS, 
		                    MEMBER_COUNT,
		                    PAYMENT_ID, 
		                    PRICE, 
		                    PAYMENT_DATE,
		                    PAYMENT_METHOD, 
		                    PAYMENT_STATUS, 
		                    MEMBER_NO, 
		                    CAMPSITE_ID)
		             VALUES(RESERVE_SEQ.NEXTVAL,
		                    TO_DATE(#{startDate}, 'YYYY-MM-DD'),
		                    TO_DATE(#{endDate}, 'YYYY-MM-DD'),
		                    #{nights},
		                    #{memberCount},
		                    #{paymentId},
		                    #{price},
		                    SYSDATE,
		                    'CARD',
		                    'CREATED',
		                    #{memberNo},
		                    #{campsiteId})
	</insert>
	
	<!--  
		24.12.23 정성민
		임시 예약 delete 용 쿼리문
	-->
	<delete id="deleteTempReserve" parameterType="_int">
		DELETE 
		  FROM RESERVE
		 WHERE RESERVE_NO = #{reserveNo}
	</delete>
	
  
</mapper>
